/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/


.page.theme_dark {
   /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя */
  --bg-color: #000028;
  --title-color:#DB00FF;
  --bg-image: url(../images/cover-image-dark.png);
  --text-color:#F1B2CE;
  --accent-color: #FF0070;
  --text-title-color: #FF0070;
  --accent-title-color: #FF0070;
  --bg-title-color:#FF0070;
  --rec-color: #FF0070;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color:#000028;
    --title-color: #DB00FF;
    --bg-image: url(../images/cover-image-dark.png);
    --text-color: #F1B2CE;
    --text-title-color: #FF0070; 
    --accent-color: #FF0070; 
    --rec-color: #FF0070;
    --decor-none: none;
    --rec-decor-visibility: hidden;
  }
}

.page.theme_dark {
 color: var(--text-color);
  background-color: var(--bg-color, #000028 ); 
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position:left 40% center;
  background-size:cover;
  background-image: url(../images/cover-image-dark.png); 
}



.header-title {
  color: var(--text-color);
  text-shadow: 4px 4px 0px var(--text-title-color);
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; 
}

.header-text {
  color: #353430;
  font-family: 'IBM Plex Mono';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.4px;
  background: var(--accent-color);
}

.bord-right {
  border-bottom: 1px solid var(--text-title-color);
  border-left: 1px solid var(--text-title-color);
  width: 25.038px;
  height: 24.999px;
  display: flex;
  flex-direction: row;
}

.title {
  color: #353430;
  font-family: 'IBM Plex Mono';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; 
  background-color: var(--bg-title-color);
  display: flex;
}

.text {
  color: var(--text-color);
 }

 .section-intro__text {
  color: var(--text-color);
  text-shadow: 2px 2px var(--bg-color-light);
  text-decoration:none;
}

.section-intro__text a {
  text-shadow: 2px 2px var(--accent-color);
  text-decoration:none;
}















.header__theme-menu-button :focus {
  border-bottom: 2px solid var(--text-title-color);
  border-top: none;
  border-left: none;
  border-right: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--text-title-color);
  color:var(--text-title-color);
}

.rec {
  color: var(--rec-color);
  text-align: center;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}

@media screen and (min-width: 768px) {
  .rec {
    margin-left: -72px;
    margin-top: 5px;
  }  
}

@media screen and (max-width: 376px) {
  .rec {
    margin-top: -20px;
    margin-left: 273px;
  }
}

@media screen and (min-width: 768px) {
  .circle {
    fill: var(--rec-color);
    width: 10px;
    height: 10px;
    background-color: var(--rec-color);
    border-radius: 50%;
    margin-left: 50px;
    margin-top: -18px;
  } 
}


@media screen and (max-width: 376px) {
  .circle {
    fill: var(--rec-color);
    width: 10px;
    height: 10px;
    background-color: var(--rec-color);
    border-radius: 50%;
    margin-left: 68px;
    margin-top: -17px;
  }
}