.page.theme_light {
  --bg-color: #FFF1F7;
  --title-color: #FFC2E6;
  --bg-image: url(../images/cover-image-light.png);
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --text-title-color: #353430;
  --accent-title-color: #FF0070;
  --bg-title-color: #FF8DCB;
  --rec-color: #FFF1F7;
  --main-color: #353430;
  --title-main-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --title-color: #FFC2E6;
    --bg-image: url(../images/cover-image-light.png);
    --accent-color: #FF8DCB;
    --text-color: #353430;
    --text-title-color: #353430;
    --decor-none: none;
    --rec-decor-visibility: hidden;
    --accent-title-color: #FF0070;
    --rec-color: #FFF1F7;
    --main-color: #353430;
  }
}
  /*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/



.page.theme_light {
  background-image:  url(../images/cover-image-light.png);
}


.header-title {
  color:var(--title-color) ;
}

.header-text {
  color: var(--main-color);
  background: var(--accent-color);
}

.section-intro__head  {
  color: var(--text-title-color);

}

.title_color {
  color: var(--title-main-color);
  background-color: var(--bg-title-color);
}

.title {
  color: var(--main-color);
  background-color: var(--bg-title-color);
}

.text {
  color: var(--text-color);
}

.section-intro__text {
  color: var(--text-color);

}

.section-intro__text a {
  text-shadow: 2px 2px var(--accent-color);
  text-decoration:none;
}

.section-intro__head-title {
  color:var(--text-title-color);
}


.title-intro {
  color: var(--title-main-color);
  background-color: var(--bg-title-color);
}

.footer-title {
  color: var(--title-color);


}

.header__theme-menu-button {
  background-color: var(--bg-color);
  color: var(--text-title-color);
  border: none;
}

.section-intro__text a:hover {
  border-bottom: 1px solid var(--text-color);
  border-top:none;
  border-left:none;
  border-right: none;
}

.section-intro__text a:focus {
  outline: none;
}

.section-intro__text a:focus-visible {
  /* border: 1px solid var(--text-color); */
  outline: none;
}


.header__theme-menu-item:default {
/* border: 1px solid var(--text-title-color); */
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  /* border-bottom: 2px solid var(--text-title-color); */
  border-top: none;
  border-left: none;
  border-right: none;
}

.header__theme-menu-button:hover {
  /* border: 1px solid var(--text-title-color); */
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--text-title-color);
}

@media screen and (min-width: 375px) {
  .header-title {
    text-shadow: 4px 4px 0px var(--accent-color) ;
  }
}

@media screen and (min-width: 768px) {
  .header-title {
    text-shadow: 4px 4px 0px var(--accent-color) ;
  }
}


@media screen and (min-width: 1024px) {
  .header-title {
    text-shadow: 4px 4px 0px var(--accent-title-color) ;
  }
}

@media screen and (max-width: 376px) {
  .footer-title {
    text-shadow: 2px 2px 0px var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .footer-title {
    text-shadow: 2px 2px 0px var(--accent-color);
  }
}

@media screen and (min-width: 1024px) {
  .footer-title {
    text-shadow: 2px 2px 0px var(--accent-title-color);
  }
}