/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:root {
  --main-font: Regular;
  --accent-font: 'IBM Plex Mono', monospace;
  --rec-color: #FF0070;
}

.page {
  font-family: var(--main-font, sans-serif);
  margin: auto;
  display: flex;
  padding: 10px;
  flex-direction: column;
  flex-shrink: 0;
  background-attachment: fixed;
  background-image: var(--bg-image);
  background-position:left 40% center;
  background-repeat: no-repeat;
  background-size:cover;
/* сохраните в разметке и стилях класс page. На его основе работает скрипт. */ 
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: 0;
}

.header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: 100vw;
  height: 100vh;
} 

.bord-left {
  width: 25.038px;
  height: 24.999px;
}

.bord-right {
  width: 25.038px;
  height: 24.999px;
  display: flex;
  flex-direction: row;
  margin-left: 19px;  
}


.dark {
  display: flex;
  margin-bottom: 82px;
  justify-content: flex-end;}
 
.rec {
  position: absolute;
  z-index: 1;
  text-align: center;
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; 
}

.rec::before {
  content: "rec";
  text-transform: uppercase;
  line-height: 25px;
  font-weight: 400;
}

.rec::after {
  content: "";
  border-radius: 50%;
  width: 9px;
  height: 9px;
  display: inline-block;
}

.header-title {
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--text-title-color);
  font-family: var(--accent-font);
} 

.section-intro__text {
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  margin-bottom: 20px;
  text-decoration:none;
}

.section-intro__head-title {
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.header__theme-menu-item{
  text-align: center;
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--text-title-color);
  color: var(--text-title-color);
}

.title_color {
  margin-bottom: 10px;
  display: flex;
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; 
}

.header-text {
  margin-bottom: 116px;
  min-width: 355px;
  max-width: 491px;
  min-height: 71px;
  max-height: 117px;
  justify-self: right;
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin-right: 21px;
  margin-top: 0px;
}

.section-intro {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.title-intro {
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; 
}

.title-content {
  display: flex;
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}


.main-intro {
  max-width: 650px;
  min-width: 355px;
}

.section-intro__head {
  margin-bottom: 20px;
  margin-top: 30px;
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; 
}

.section-intro__text {
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px; 
}


.main-content-cover {
  display: flex;
  flex-wrap: wrap;
}


.title {
  margin-bottom: 10px;
  display: flex;
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; 
}



.title-one {
  display: flex;
  flex-direction: column;
}

.title-two {
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 18px;
  
}

.section-cover__text {
  font-family: var(--accent-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  margin-bottom: 20px;
}

.content-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.img-title {
  width: 100%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  object-position: center;
  object-fit: cover;
  overflow: hidden;
  display: block;
  max-width: 100%;  
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  object-position: center;
}


.img-content__one {
  grid-column: 1 / 3;
  grid-row: 1 / 1;
}

.img-content__two {
  grid-column: 3 / 3;
  grid-row: 1 / 4;
}

.section-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-content__three {
  grid-column: 1 / 1;
  grid-row: 2 / 4;
}

.img-content__four {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}

.img-content__five {
  grid-column: 2 / 4;
  grid-row: 3 / 3;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.footer-left {
  display: flex;
  margin-top: 18px;
  margin-bottom: 253px;
  margin-left: 314px;
  justify-content: flex-end;
}

.footer-right {
  margin-right: 347px;
  margin-top: 357px;
}

.footer-title {
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; 
}

.main-content {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .dark {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 6px;
  }
}

@media screen and (min-width: 1024px) {
  .dark {
    display: flex;
    margin-left: 15px;
    margin-top: 12px;
  }
}



@media screen and (min-width:375px) {
  .left {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;  }
} 

@media screen and (min-width:1024px) {
  .left {
    margin-left: 963px;
  }
}

@media screen and (min-width: 375px) {
  .header__theme-menu-list {
    display: flex;
    gap: 13px;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -42px;
    margin-right: 16px;
    margin-bottom: 70px;
  }
}

@media screen and (min-width:768px) {
  .header__theme-menu-list {
    display: flex;
    margin-top: 42px;
    margin-right: 26px;    
    align-items: center;
    gap: 13px;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
  }
}


@media screen and (min-width:1024px) {
  .header__theme-menu-list {
    display: flex;
    height: 26px;
    padding: 0px 13px;
    align-items: center;
    gap: 13px;
    margin-top: -109px;
    justify-content: center;
    flex-direction: row;
    margin-left: 15px;
  }
}

@media screen and (min-width: 375px) {
  .header-title {
    margin-left: 11px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media screen and (min-width: 768px) {
  .header-title {
    margin-bottom: 87px;
    margin-top: 0;
    margin-left: 0;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }
}


@media screen and (min-width: 1024px) {
  .header-title {
    padding: 18vi 0vi 11vi 0vi;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }
}

@media screen and (width: 768px) {
.header__theme-menu {
  margin-bottom: 155px;
  }
}

@media screen and (min-width:375px) {
  .header-text {
    width: 355px;
    height: 117px;
    margin-top: 55px;
    margin-right: 10px;
  }
}

@media screen and (min-width:768px) {
  .header-text {
    width: 364px;
    height: 116px;
    margin-right: 21px;
    margin-bottom: 141px;
  }
}
@media screen and (min-width:1024px) {
  .header-text {
    width: 491px;
    height: 71px;
    margin-bottom: 116px;
    margin-top: 0;  
  }
}

@media screen and (max-width: 376px) {
  .bord-right {
    margin-top: -86px;
    margin-left: 10px;
  }
}

@media screen and (min-width:375px) {
  .section-intro__head {
    width: 355px;
  }
}

@media screen and (min-width:768px) {
  .section-intro__head {
    width: 236px;

  }
}

@media screen and (min-width:1024px) {
  .section-intro__head {
    width: 315px;
    margin-top: 0px;
  }
}


@media screen and (max-width:768px) {
  .main-title {
    width: 472px;
  }
}

@media screen and (max-width:1024px) {
  .main-title {
    width: 650px;
  }
}

@media screen and (min-width: 375px) {
  .main-intro {
    width: 355px;
    margin-left: 0px;
  }
}

@media screen and (min-width: 768px) {
  .main-intro {
    margin-left: 21px;
    width: 472px;
  }
}

@media screen and (min-width: 1024px) {
  .main-intro {
    margin-left: 21px;
    width: 650px;
  }
}




@media screen and (min-width:375px) {
  .section-intro__text {
      width: 352px;
}
}

@media screen and (min-width:768px) {
  .section-intro__text {
      width: 472px;
  }
}

@media screen and (min-width:1024px) {
  .section-intro__text {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .main-content-cover {
    gap: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .main-content-cover {
    gap: 20px;
  }
}


@media screen and (min-width:768px){
  .main-title__one {
    width: 97%;
    height: 100%;
  }
}

@media screen and (min-width:1024px){
  .main-title__one {
    width: 315px;
    height: 384px;
  }
}

@media screen and (min-width:375px) {
  .section-cover__text {
      width: 352px;
}
}

@media screen and (min-width:768px) {
  .section-cover__text {
      width: 100%;
}
}
@media screen and (min-width:1024px) {
  .section-cover__text {
      width: 100%;
  }
}

@media screen and (max-width:768px){
  .main-title__two {
    width: 97%;
    height: 100%;
  }
}

@media screen and (min-width:1024px){
  .main-title__two {
    width: 315px;
    height: 361px;
  }
}

@media screen and (max-width:768px) {
  .main-title__tree {
    width: 97%;
    height: 100%;
  }
}

@media screen and (min-width:1024px){
  .main-title__tree {
    width: 315px;
    height: 431px;
  }
}

@media screen and (min-width:375px) {
  .section-intro__head-title {
  width: 347px;
  }
}

@media screen and (min-width:768px) {
  .section-intro__head-title {
  width: 255px;
  }
}

@media screen and (min-width:1024px) {
  .section-intro__head-title {
  width: 335px;
  height: 98px;
  flex-shrink: 0;
  }
}




/* @media screen and (max-width:768px) {
  .main-content {

  }
} */

@media screen and (min-width:375px) {
  .main-content {
    margin-top: 20px;  
  }
}

@media screen and (min-width:768px) {
  .main-content {
  width: 473px;
  display: flex;
  flex-direction: column;
  }
}

@media screen and (min-width:1024px) {
  .main-content {
  width: 649px;
  }
}

@media screen and (min-width: 768px) {
  .title-intro {
    margin-bottom: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .title-intro {
    margin-bottom: 20px;
  }
}



@media screen and (min-width: 375px) {
  .img-content {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   gap: 10px;
  }
 }

@media screen and (min-width: 1024px) {
  .img-content {
   width: 100%;
   height: 100%;
   display: grid;
   grid-template-rows: repeat(1, 1fr);
   grid-gap: 20px;
   grid-template-columns: repeat(3, 1fr);
  }
 }
 
 @media screen and (min-width: 768px) {
  .img-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}

 @media screen and (min-width: 1024px) {
  .img-content__one {
    width: 649px;
    height: 260px;
    flex-shrink: 0;
  }
}

@media screen and (min-width: 1024px) {
  .img-content__two {
    width: 315px;
    height: 595px;
    flex-shrink: 0;
  }
}

@media screen and (min-width:375px) {
  .special-img {
    width: 354.999px;
    height: 355px;
  }  
}

@media screen and (min-width:768px) {
  .special-img {
    width: 229px;
    height: 450px;
  }  
}


@media screen and (min-width:1024px) {
  .special-img {
    width: 595px;
    height: 595px;
  }  
}


@media screen and (min-width: 1024px) {
  .img-content__three {
    width: 315px;
  height: 768px;
  flex-shrink: 0;
  }
}


@media screen and (min-width: 1024px) {
  .img-content__four {
    width: 315px;
    height: 315px;
    flex-shrink: 0;
  }
}

@media screen and (width: 1024px) {
  .img-content__five {
    width: 649px;
    height: 428px;
    flex-shrink: 0;
  }
}

@media screen and (min-width: 376px){
  .footer-left {
    margin-left: 330px;
  }
}

@media screen and (min-width: 768px){
  .footer-left {
    margin-left: 721px;
    margin-bottom: 212px;
  }
}

@media screen and (min-width: 1024px){
  .footer-left {
    margin-left: 957px;
    margin-top: 43px;
    margin-bottom: 253px;  
  }
}

@media screen and (max-width: 376px) {
  .footer-title {
    margin-top: 0px;
    margin-right: 15px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media screen and (min-width: 768px) {
  .footer-title {
    padding: 27vi 0vi 11vi 0vi;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }
}

@media screen and (min-width: 1024px) {
  .footer-title {
    padding: 2vi 1vi 11vi 2vi;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }
}

@media screen and (min-width: 376px){
  .footer-right {
    margin-right: 356px;
    margin-top: 335px;
  }
}

@media screen and (min-width: 768px){
  .footer-right {
    margin-right: 685px;
    margin-top: 333px;
  }
}


@media screen and (min-width: 1024px){
  .footer-right {
    margin-right: 976px;
    margin-top: 161px;
  }
}

